
.AboutContainer{
    display: grid;
    grid-auto-flow: column;
    padding: 0 10% 0 10%;
    width: 100vw;
    height: 90vh;
    align-items: center;
    background-color: #2B2A29;
}
.about{
    padding-right: 15vw;
}

.AboutContainer div h3{
    color: #D1363A;
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
}
.AboutContainer div h4{
   font-size: 1.2rem;
   margin-top: 1rem;
}
.AboutContainer div h4, p, a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}
.AboutContainer a{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: white;
}
.AboutContainer div p{
    font-family: 'Gilroy';
}
.AboutContainer .contact p{
    font-family: 'Integral';
}
.AboutContainer .about p{
    font-size: 1.3rem;
}
@media (max-width:900px){
    .AboutContainer{
        grid-auto-flow: row;
        padding: 10% 5% 10% 5%;
    } 
    .about{
        padding-right: 0;
    }

}