.header-containter{
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: white;
    display: grid;
    place-items: center;
    z-index: 15;
}

.burger{
    display: none;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    right: 10%;
}

header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: rgb(34, 33, 32);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    z-index: 15;
    justify-content:space-between;
    padding: 0 10% 0 10%;
    
}
header div{
    display: grid;
    height:100%;
    grid-auto-flow: column;
    align-items:center;
    gap:1rem;
}

header a{
    text-decoration: none;
    color: white;
    display: grid;
    grid-auto-flow: column;
}

span {
    color: #D1363A;
}
header p{
    color: white;
    font-family: 'Gilroy';
}

/* [aria-current='page'], .active{
    text-decoration: line-through;
} */

@media (max-width:1000px){
    header p{
        display: none;
    }
    .none{
        display: none;
    } 
    header.visible{
        transform: translateY(0);
        background-color: #2B2A29;
    }
    header div{
        gap: 2rem;
    }
    .header-containter{
        background-color: #2B2A29;
    }
}



