.header-containter{
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: white;
    display: grid;
    place-items: center;
    z-index: 3;
}

.burger{
    display: none;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    right: 10%;
}

header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: #2B2A29;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 2px #707070;
    justify-content:space-between;
    padding: 0 10% 0 10%;
}
header div{
    display: grid;
    height:100%;
    grid-auto-flow: column;
    align-items:center;
    gap:1rem;
}

header a{
    text-decoration: none;
    color: white;
    display: grid;
    grid-auto-flow: column;
}

span {
    color: #D1363A;
}
header p{
    color: white;
    font-family: 'Gilroy';
}

/* [aria-current='page'], .active{
    text-decoration: line-through;
} */

@media (max-width:1000px){
    header{
        width: 100%;
        transform: translateY(-110%);
        grid-auto-flow: row;
        align-content: center;
        min-height: 100vh;
        transition: .4s ease;
        background-color: #2B2A29;
        justify-content: center;
        gap: 2rem;
    }
    header a{
        font-size: 2rem;
        display: inline;
    }
    .none{
        display: none;
    }
    .burger{
        display: block;
    }
    
    header.visible{
        transform: translateY(0);
        background-color: #2B2A29;
    }
    .header-containter{
        background-color: #2B2A29;
    }
}

