.intro {
    width: 100vw;
    height: 90vh;
    background-color: #2B2A29;
    position: relative;
    display: grid;
    align-content: center;
}

.intro h1{
    font-size: 3.5rem;
    margin: 0;
    margin-left: 10%;
}

.intro .scrollContainer {
    position: absolute;
    left: 80%;
    bottom: 5%;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    transform: rotate(90deg);
}
.intro h5{
    text-align: center;
}

.intro .scroll-line{
    margin-top: 2px;
    height: 8px;
    width: 150px;
    background-color: white;
    margin-left: 10px;
}

.add{
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    display: grid;
    place-items: center;
    z-index: 1;
    transform: scale(2.5);
}
.add .edit-icons{
    color: #D1363A;
}


.project img {
    width: 100%;
}

h1:nth-child(odd){
    color: white;
}
h1:nth-child(even){
    color: #D1363A;
}
.white{
    color: white;
}
.red{
    color: #D1363A;
}


h2{
    color: #2B2A29;
    font-size: 4rem;
    margin-left: 2rem;
    justify-self: start;
}

h5{
    color: white;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: 100%;
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
  }
   
 
  @media (max-width:800px){
    .intro{
        height: 70vh;
    }

    .intro .scrollContainer{
        display: none;
    }

    .intro h1{
        font-size: 3rem;
    }
    h2{
        font-size: 3rem;
    }
}
  @media (max-width:700px){
    .intro h1{
        font-size: 2.1rem;
    }
}
