
.projectContainer{
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 0 15% 0 15%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    gap: 20%;
}
h3{
    font-size: 1.5rem;
    color: #2B2A29;
    margin-top: 0;
}

.projectByline, .projectTech, .projectYear, .projectDescription{
    font-family: 'Gilroy';
    color: #747474;
}

.projectImage{
   height: 70vh;
   width: 70vw;
}



[data-vimeo-initialized="true"] {
    box-sizing:border-box;
    overflow:hidden;
    width:100%;
    display:grid;
    place-items:center;
}
iframe{
    width:80%;
    margin:auto;
}
 .projectExtra{
    justify-self: start;
    width: 100vw;
 }
.utfordring{
    color: black;
    margin-left: 10%;
}

.utfordringtext{
    font-family: 'Gilroy';
    margin-left: 10%;
}

.pager{
    width: 100vw;
    height: 10vh;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    justify-content: space-between;
    background-color: #2B2A29;
    padding-left: 2rem;
    padding-right: 2rem;
}
.pager a{
    color: white;
    text-decoration: none;
}
.pager a:hover{
    color: #D1363A;
}
@media (max-width:1000px){
    .projectContainer{
        grid-auto-flow: row;
    } 
}

