@font-face {
  font-family: 'Integral';
  src: url('./fonts/IntegralCF-Bold.otf');
}
@font-face{
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.otf');
}

*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Integral', sans-serif;
}
a{
  color: black;
}
a:hover{
  color: #D1363A;
}

main{
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: grid;
  place-items: center;
}

.edit-icons{
  cursor: pointer;
  transform: scale(1.5);
  color: white;
}

button, .button{
  font-size: 1rem;
  background-color: black;
  color: white;
  min-width: 6rem;
  padding: .6rem;
  display: block;
  cursor: pointer;
  border-radius: 12px;
}
.button{
  background: white;
  border: 1px solid #111;
  color: #111;
  padding: .4rem;
  max-width: 6rem;
  text-align: center;
  margin-top: 1rem;
}
