@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

main{
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
  padding-top: 20vh;
}

button{
  font-size: 1rem;
  background-color: black;
  color: white;
  min-width: 6rem;
  padding: .6rem;
  display: block;
  cursor: pointer;
  border-radius: 12px;
}

.edit-icons{
  transform: scale(1.5);
}